<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets-v1/templates/assets/styles/output.css"
    />
    <link rel="stylesheet" href="/assets-v1/templates/assets/styles/base.css" />
    <title>Register | Layer8</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="../assets-v1/templates/assets/js/scram-bundled.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="relative">
        <div class="client-container">
          <div class="grid grid-cols-1 md:grid-cols-2 bg-white h-dvh">
            <div class="self-center">
              <h2
                class="font-bold text-3xl text-[#3751FE] md:mb-24 mb-10 animate-slideFromLeft"
              >
                Client Portal
              </h2>
              <h1
                class="font-bold text-4xl text-[#3751FE] mb-11 animate-slideFromLeft"
              >
                Login
              </h1>
              <div class="mr-0 md:mr-16 lg:mr-28 animate-slideFromLeft">
                <div class="relative border border-[#C1BBBB]">
                  <input
                    type="text"
                    id="username"
                    name="username"
                    v-model="username"
                    @focus="isUsernameFocused = true"
                    @blur="isUsernameFocused = false"
                    class="w-full px-4 pt-10 pb-3 border-l-4 focus:border-blue-500 focus:outline-none text-lg text-[#3751FE]"
                    placeholder=" "
                  />
                  <label
                    for="username"
                    class="absolute left-0 px-4 mt-6 transition-all duration-300 origin-0 text-[#636363] text-lg cursor-text"
                    :class="{ '-top-4': isUsernameFocused || username }"
                  >
                    Username
                  </label>
                </div>
                <div class="relative border border-[#C1BBBB] mb-9">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    v-model="password"
                    @focus="isPasswordFocused = true"
                    @blur="isPasswordFocused = false"
                    class="w-full px-4 pt-10 pb-3 border-l-4 focus:border-blue-500 focus:outline-none text-lg text-[#3751FE]"
                    placeholder=" "
                  />
                  <label
                    for="password"
                    class="absolute left-0 px-4 mt-6 transition-all duration-300 origin-0 text-[#636363] text-lg cursor-text"
                    :class="{ '-top-4': isPasswordFocused || password }"
                  >
                    Password
                  </label>
                </div>
                <button
                  @click="loginClient"
                  class="animate-bounce w-full py-4 border border-[#3751FE] text-[#3751FE] mb-7 hover:shadow-lg hover:text-white hover:bg-[#3751FE]"
                >
                  Login
                </button>
                <a
                  class="animate-slideFromLeft text-sm text-[#414141] font-normal text-start block cursor-pointer"
                  href="/v2/client-register-page"
                >
                  Don't have an account? <span class="font-bold">Register</span>
                </a>
              </div>
            </div>
            <div class="hidden"></div>
          </div>
        </div>
        <div
          class="hidden md:flex lg:flex items-center absolute lg:absolute bg-[#E5E5E5] right-0 top-0 pt-40 w-1/2 lg:w-1/2 h-dvh py-auto"
        >
          <img
            class="m-auto mt-10 animate-slideFromRight"
            src="/assets-v1/templates/assets/images/client-image.png"
          />
        </div>
      </div>
      <div
        :class="showToast ? 'opacity-100' : 'opacity-0 pointer-events-none'"
        class="fixed top-3 right-3 bg-red-500 text-white p-2 rounded-md transition-opacity ease-in-out duration-500 z-50"
      >
        {{ toastMessage }}
      </div>
    </div>

    <script>
      const { createApp, ref } = Vue;

      const username = ref("");
      const password = ref("");
      const isRegistered = ref(false);
      const isUsernameFocused = ref(false);
      const isPasswordFocused = ref(false);
      const showToast = ref(false);
      const toastMessage = ref("");
      const cNonce = ref("");

      const loginClient = async () => {
        try {
          if (username.value == "" || password.value == "") {
            showToastMessage("Please enter a username and password!", "error");
            return;
          }

          const cNonceLength = 32;
          const cNonceUintArray = new Uint8Array(cNonceLength);
          window.crypto.getRandomValues(cNonceUintArray);
          cNonce.value = btoa(String.fromCharCode(...cNonceUintArray));

          const loginPrecheckResponse = await window.fetch(
            "[[ .ProxyURL ]]/api/v2/login-client-precheck",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                username: username.value,
                c_nonce: cNonce.value,
              }),
            }
          );

          const loginPrecheckResponseBody = await loginPrecheckResponse.json();
          if (loginPrecheckResponse.status !== 200) {
            showToastMessage("Failed to login", "error");
            return;
          }

          const { data } = scram.keysHMAC(
            password.value,
            loginPrecheckResponseBody.data.salt,
            loginPrecheckResponseBody.data.iter_count
          );

          const clientKeyBytes = scram.hexStringToBytes(data.clientKey);

          const authMessage = `[n=${username.value},r=${cNonce.value},s=${loginPrecheckResponseBody.data.salt},i=${loginPrecheckResponseBody.data.iter_count},r=${loginPrecheckResponseBody.data.nonce}]`;

          // Signature HMAC
          const clientSignature = scram.signatureHMAC(
            authMessage,
            data.storedKey
          );

          const clientSignatureBytes = scram.hexStringToBytes(clientSignature);

          const clientProofBytes = scram.xorBytes(
            clientKeyBytes,
            clientSignatureBytes
          );

          const clientProof = scram.bytesToHexString(clientProofBytes);

          const loginResponse = await window.fetch(
            "[[ .ProxyURL ]]/api/v2/login-client",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                username: username.value,
                nonce: loginPrecheckResponseBody.data.nonce,
                c_nonce: cNonce.value,
                client_proof: clientProof,
              }),
            }
          );
          const loginResponseJSON = await loginResponse.json();

          if (loginResponseJSON.data.server_signature) {
            const serverSignatureCheck = scram.signatureHMAC(
              authMessage,
              data.serverKey
            );

            if (
              serverSignatureCheck === loginResponseJSON.data.server_signature
            ) {
              localStorage.setItem("clientToken", loginResponseJSON.data.token);
              showToastMessage("Login successful!", "success");
              window.location.href = "[[ .ProxyURL ]]/client-profile";
            }
          } else if (loginResponseJSON.message) {
            showToastMessage(loginResponseJSON.message, "error");
          } else {
            showToastMessage("Login failed, please try again later", "error");
          }
        } catch (error) {
          console.error(error);
          showToastMessage("Login failed!", "error");
        }
      };

      const showToastMessage = (message, type) => {
        // Current param type is not used. But will be in the future
        toastMessage.value = message;
        showToast.value = true;
        setTimeout(() => {
          showToast.value = false;
        }, 3000);
      };

      const app = createApp({
        setup() {
          return {
            username,
            password,
            isRegistered,
            isUsernameFocused,
            isPasswordFocused,
            loginClient,
            toastMessage,
            showToast,
          };
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
