name: postgres
services:
  postgres:
    container_name: layer8-postgres
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pg-data:/var/lib/postgresql/data
    ports:
      - ${DB_PORT}:5432
volumes:
  pg-data:
  