<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="/assets-v1/templates/assets/styles/output.css"
    />
    <link
            rel="stylesheet"
            href="/assets-v1/templates/assets/styles/base.css"
    />
    <title>Input new password</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
</head>

<body>
<div id="app">
    <div id="navbar" class="user-container">
        <div class="bg-white flex justify-center items-center my-4">
            <img
                    src="/assets-v1/images/L8Logo.png"
                    alt="Layer8"
                    width="250"
                    height="535"
            />
        </div>
    </div>

    <div id="body" class="bg-[#F6F8FF] md:grid md:grid-cols-2">
        <div class="self-center py-4 mx-10 lg:mx-36">
            <div class="mb-6">
                <label class="text-lg text-[#414141] mb-1 block">Input new password:</label>
                <input
                        class="w-full bg-white rounded-md border border-[#EADFD8] py-2.5 px-3 placeholder:text-[#414141] focus:outline-none"
                        placeholder="new password"
                        v-model="newPassword">
            </div>
            <div class="mb-12">
                <label class="text-lg text-[#414141] mb-1 block">Repeat the new password:</label>
                <input
                        class="w-full bg-white rounded-md border border-[#EADFD8] py-2.5 px-3 placeholder:text-[#414141] focus:outline-none"
                        placeholder="repeat new password"
                        v-model="repeatedNewPassword">
            </div>

            <button
                    class="w-[70%] bg-[#4F80E1] rounded-lg text-center text-white py-4 mb-12"
                    @click="updatePassword"
            >
                Confirm
            </button>
        </div>

        <div class="bg-white hidden md:flex items-center">
            <img src="/assets-v1/templates/assets/images/client-image.png" />
        </div>
    </div>
</div>

<script>
    const { createApp, computed, ref } = Vue;
    const newPassword = ref("");
    const repeatedNewPassword = ref("");

    const updatePassword = async () => {
        if (newPassword.value === "" || repeatedNewPassword.value === "") {
            alert("All the fields are mandatory");
            return;
        }

        if (newPassword.value !== repeatedNewPassword.value) {
            alert("Inputted passwords are different");
            return;
        }

        try {
            const response = await window.fetch(
                    "[[ .ProxyURL ]]/api/v1/update-password",
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            username: "[[ .USERNAME ]]",
                            new_password: newPassword.value
                        }),
                    },
            );

            const result = await response.json();

            if (response.status === 201) {
                alert("Your password was updated successfully!");
                window.location.href = "[[ .ProxyURL ]]/user-login-page";
            } else {
                console.log(result.errors);
                alert("Error happened: " + result.message);
            }
        } catch (error) {
            console.error(error);
        }
    }

    const app = createApp({
        setup() {
            return {
                updatePassword,
                newPassword,
                repeatedNewPassword
            };
        },
    });

    app.mount("#app");
</script>
</body>
</html>