<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="/assets-v1/templates/assets/styles/output.css"
    />
    <link
            rel="stylesheet"
            href="/assets-v1/templates/assets/styles/base.css"
    />
    <title>Mnemonic reset</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>

    <script src="../assets-v1/templates/assets/js/bundled.js"></script>
</head>

<body>
<div id="app">
    <div id="navbar" class="user-container">
        <div class="bg-white flex justify-center items-center my-4">
            <img
                    src="/assets-v1/images/L8Logo.png"
                    alt="Layer8"
                    width="250"
                    height="535"
            />
        </div>
    </div>

    <div id="body" class="bg-[#F6F8FF] md:grid md:grid-cols-2">
        <div class="self-center py-4 mx-10 lg:mx-36">
            <div class="mb-6">
                <label class="text-lg text-[#414141] mb-1 block">Input your username:</label>
                <input
                        class="w-full bg-white rounded-md border border-[#EADFD8] py-2.5 px-3 placeholder:text-[#414141] focus:outline-none"
                        placeholder="username"
                        v-model="username">
            </div>
            <div class="mb-6">
                <label class="text-lg text-[#414141] mb-1 block">Input your mnemonic:</label>
                <input
                        class="w-full bg-white rounded-md border border-[#EADFD8] py-2.5 px-3 placeholder:text-[#414141] focus:outline-none"
                        placeholder="12-word mnemonic"
                        v-model="mnemonicSentence">
            </div>
            <div class="mb-6">
                <label class="text-lg text-[#414141] mb-1 block">Input new password:</label>
                <input
                        class="w-full bg-white rounded-md border border-[#EADFD8] py-2.5 px-3 placeholder:text-[#414141] focus:outline-none"
                        placeholder="new password"
                        type="password"
                        v-model="newPassword">
            </div>
            <div class="mb-12">
                <label class="text-lg text-[#414141] mb-1 block">Repeat the new password:</label>
                <input
                        class="w-full bg-white rounded-md border border-[#EADFD8] py-2.5 px-3 placeholder:text-[#414141] focus:outline-none"
                        placeholder="repeat new password"
                        type="password"
                        v-model="repeatedNewPassword">
            </div>

            <button
                    class="w-[70%] bg-[#4F80E1] rounded-lg text-center text-white py-4 mb-12"
                    @click="resetPassword"
            >
                Reset
            </button>
        </div>

        <div class="bg-white hidden md:flex items-center">
            <img src="/assets-v1/templates/assets/images/client-image.png" />
        </div>
    </div>
    <div id="footer" class="user-container">
        <div class="bg-white flex justify-between items-center my-8">
            <div>
                <img
                        src="../assets-v1/images/L8Logo.png"
                        alt="Layer8"
                        class="mb-6 md:mb-12 h-[35px] md:w-full md:h-[70px]"
                />
                <p class="font-bold text-sm md:text-base text-black text-start self-end">
                    ©Layer8security 2023.
                </p>
            </div>
            <div>
                <div class="text-xl font-bold text-black text-end md:text-start mb-0 md:mb-4 lg:mb-6">Contact</div>
                <ul class="font-medium text-sm md:text-base text-black text-end md:text-start self-end">
                    <li>Email: hi@layer8.com</li>
                    <li>Client Support: support@layer8.com</li>
                    <li>Phone number: 0371 525 777</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    const { createApp, computed, ref } = Vue;

    const username = ref("");
    const mnemonicSentence = ref("");
    const newPassword = ref("");
    const repeatedNewPassword = ref("");

    const messageToSign = "Sign-in with Layer8";

    const resetPassword = async () => {
        if (username.value === "" || mnemonicSentence.value === ""
                || newPassword.value === "" || repeatedNewPassword.value === "") {
            alert("All fields are mandatory");
            return;
        }
        if (newPassword.value !== repeatedNewPassword.value) {
            alert("Repeated password does not match");
            return;
        }

        let currMnemonic = mnemonicSentence.value.trim();

        if (!mnemonic.isValid(currMnemonic)) {
            alert("The provided mnemonic is invalid");
            return;
        }

        const keyPair = mnemonic.getPrivateAndPublicKeys(currMnemonic);
        const signature = mnemonic.sign(keyPair.privateKey, messageToSign);

        try {
            const response = await window.fetch(
                    "[[ .ProxyURL ]]/api/v1/reset-password",
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            username: username.value,
                            signature: Array.from(signature),
                            new_password: newPassword.value
                        }),
                    },
            );

            const result = await response.json();

            if (response.status === 201) {
                alert(result.message);
                window.location.href = "[[ .ProxyURL ]]/user-login-page";
            } else {
                console.log(result.errors);
                alert("Error: " + result.message);
            }
        } catch (error) {
            console.error(error);
            alert("Error happened");
        }
    }

    const app = createApp({
        setup() {
            return {
                username,
                mnemonicSentence,
                newPassword,
                repeatedNewPassword,
                resetPassword,
            };
        },
    });

    app.mount("#app");
</script>
</body>
</html>