.min__width {
    min-width: 0;
}

.modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: #000000;
    transition: all 0.25s;
}

.modal__dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    perspective: 1300px;
}

.modal__dialog.active {
    opacity: 1;
    visibility: visible;
}

.modal__dialog.active ~ .modal__overlay {
    opacity: 0.9;
    visibility: visible;
}

.modal__dialog.active .modal__content {
    transform: rotateX(0deg);
    opacity: 1;
}

.modal__content {
    background: #fafafa;
    border-radius: 2px;
    padding: 24px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-60deg);
    transform-origin: 50% 0;
    opacity: 0;
    transition: all 0.25s;
}

.modal__header {
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.45);
    margin-bottom: 1rem;
}

.modal__body {
    text-align: center;
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
}

.modal__footer {
    margin: 24px 0;
}

.info-message {
    font-weight: 700;
    font-size: 18px;
}

.mnemonic-text {
    color: rgb(37 99 235);
    font-weight: 600;
    font-family: Georgia, serif;
    font-size: 17px;
}

.warning-msg {
    color: rgba(4, 189, 29, 0.76);
    font-weight: 700;
    font-size: 16px;
}

.mnemonic_holder {
    margin-bottom: 15px;
}

.input-mnemonic {
    width: 80%;
    text-align: center;
    margin-right: 10px;
    background-color: rgba(100, 149, 237, 0.3);
    border-radius: 40px;

    font-family: Georgia, serif;
}

.toast-msg {
    width: 15%;
    text-align: center;
    margin-left: 83%;
    background-color: rgba(68, 67, 67, 0.35);
}

.close-button {
    width: 50%;
    margin-left: 25%;
}
