<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets-v1/templates/assets/styles/output.css"
    />
    <link rel="stylesheet" href="/assets-v1/templates/assets/styles/base.css" />
    <title>Authentication Page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>

    <script src="../assets-v1/templates/assets/js/bundled.js"></script>
  </head>
  <body>
    <div id="app">
      <div id="navbar" class="user-container">
        <div class="bg-white flex justify-center items-center my-4">
          <img
            src="../assets-v1/images/L8Logo.png"
            alt="Layer8"
            width="250"
            height="535"
          />
        </div>
      </div>
      <div id="body" class="bg-[#F6F8FF] md:grid md:grid-cols-2">
        <div class="self-center py-4 md:py-0 mx-10 lg:mx-36 md:mx-18">
          <h1 class="font-bold text-[#4F80E1] text-[40px] text-start mb-2">
            Login
          </h1>
          <p class="font-normal text-xl text-[#414141] text-start mb-12">
            Enter your email and password to login.
          </p>
          <div>
            <div class="mb-6">
              <label class="text-sm text-[#414141] mb-1 block">Username</label>
              <input
                class="w-full bg-white rounded-md border border-[#EADFD8] py-2.5 px-3 placeholder:text-[#414141] focus:outline-none"
                v-model="loginUsername"
                placeholder="Username"
              />
            </div>
            <div class="mb-12">
              <label class="text-sm text-[#414141] mb-1 block">Password</label>
              <input
                class="w-full bg-white rounded-md border border-[#EADFD8] py-2.5 px-3 placeholder:text-[#414141] focus:outline-none"
                v-model="loginPassword"
                type="password"
                placeholder="Password"
              />
            </div>
            <a
              class="text-sm text-[#414141] font-normal text-center block cursor-pointer"
              href="/reset-password-page"
              >Forgot your password?</a
            >
            <button
              class="w-full bg-[#4F80E1] rounded-lg text-center text-white py-4 mb-12"
              @click="loginUser"
            >
              Login
            </button>
            <a
              class="text-sm text-[#414141] font-normal text-center block cursor-pointer"
              href="/user-register-page"
              >Don't have an account? <span class="font-bold">Register</span></a
            >
          </div>
        </div>
        <div class="bg-white hidden md:flex lg:flex items-center">
          <img src="/assets-v1/templates/assets/images/cyber-phone.png" />
        </div>
      </div>
      <div id="footer" class="user-container">
        <div class="bg-white flex justify-between items-center my-8">
          <div>
            <img
              src="../assets-v1/images/L8Logo.png"
              alt="Layer8"
              class="mb-6 md:mb-12 h-[35px] md:w-full md:h-[70px]"
            />
            <p
              class="font-bold text-sm md:text-base text-black text-start self-end"
            >
              ©Layer8security 2023.
            </p>
          </div>
          <div>
            <div
              class="text-xl font-bold text-black text-end md:text-start mb-0 md:mb-4 lg:mb-6"
            >
              Contact
            </div>
            <ul
              class="font-medium text-sm md:text-base text-black text-end md:text-start self-end"
            >
              <li>Email: hi@layer8.com</li>
              <li>Client Support: support@layer8.com</li>
              <li>Phone number: 0371 525 777</li>
            </ul>
          </div>
        </div>
      </div>
      <div
        :class="showToast ? 'opacity-100' : 'opacity-0 pointer-events-none'"
        class="fixed top-3 right-3 bg-red-500 text-white p-2 rounded-md transition-opacity ease-in-out duration-500 z-50"
      >
        {{ toastMessage }}
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script>
      const { createApp, computed, ref } = Vue;
      const loginUsername = ref("");
      const loginPassword = ref("");
      const token = ref(localStorage.getItem("token") || null);
      const showToast = ref(false);
      const toastMessage = ref("");
      const cNonce = ref("");
      const isLoggedIn = computed(() => token.value !== null);

      const loginUser = async () => {
        try {
          if (loginUsername.value == "" || loginPassword.value == "") {
            showToastMessage("Please enter a username and password!", "error");
            return;
          }

          const cNonceLength = 32;
          const cNonceBytes = new Uint8Array(cNonceLength);
          window.crypto.getRandomValues(cNonceBytes);
          cNonce.value = btoa(String.fromCharCode(...cNonceBytes));

          const respOne = await window.fetch(
            "[[ .ProxyURL ]]/api/v2/login-precheck",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                username: loginUsername.value,
                c_nonce: cNonce.value,
              }),
            }
          );
          const loginPrecheckResponseBody = await respOne.json();

          if (respOne.status !== 200) {
            showToastMessage("Failed to login", "error");
            return;
          }

          const dk = CryptoJS.PBKDF2(
            loginPassword.value,
            CryptoJS.enc.Utf8.parse(loginPrecheckResponseBody.salt),
            {
              keySize: 160 / 32,
              iterations: loginPrecheckResponseBody.iterationCount,
              hasher: CryptoJS.algo.SHA1,
            }
          );

          const saltedPassword = dk.toString(CryptoJS.enc.Hex);

          const clientKey = CryptoJS.HmacSHA256(
            CryptoJS.enc.Utf8.parse(saltedPassword),
            CryptoJS.enc.Utf8.parse("Client Key")
          ).toString(CryptoJS.enc.Hex);

          const serverKey = CryptoJS.HmacSHA256(
            CryptoJS.enc.Utf8.parse(saltedPassword),
            CryptoJS.enc.Utf8.parse("Server Key")
          ).toString(CryptoJS.enc.Hex);

          const authMessage = `[n=${loginUsername.value},r=${cNonce.value},s=${loginPrecheckResponseBody.salt},i=${loginPrecheckResponseBody.iterationCount},r=${loginPrecheckResponseBody.nonce}]`;

          const clientSignature = CryptoJS.HmacSHA256(
            CryptoJS.enc.Utf8.parse(authMessage),
            CryptoJS.enc.Utf8.parse(
              CryptoJS.SHA256(CryptoJS.enc.Utf8.parse(clientKey)).toString(
                CryptoJS.enc.Hex
              )
            )
          ).toString(CryptoJS.enc.Hex);

          // For debugging
          console.log("clientKey: ", clientKey);
          console.log("clientSignature: ", clientSignature);

          const clientKeyBytes = hexStringToBytes(clientKey);
          const clientSignatureBytes = hexStringToBytes(clientSignature);
          const clientProofBytes = xorBytes(
            clientKeyBytes,
            clientSignatureBytes
          );
          const clientProof = bytesToHexString(clientProofBytes);

          // For debugging
          console.log("clientProof: ", clientProof);

          const respTwo = await window.fetch(
            "[[ .ProxyURL ]]/api/v2/login-user",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                username: loginUsername.value,
                nonce: loginPrecheckResponseBody.nonce,
                c_nonce: cNonce.value,
                client_proof: clientProof,
              }),
            }
          );

          const responseTwo = await respTwo.json();

          console.log("responseTwo: ", responseTwo);

          if (respTwo.server_signature) {
            // TODO: Validate server signature
            // ServerSignature == HMAC-SHA256(AuthMessage, ServerKey);
            // Error message: "client failed to authenticate the server"
          } else if (respTwo.message) {
            showToastMessage(respTwo.message, "error");
          } else {
            showToastMessage("Login failed, please try again later", "error");
          }
        } catch (error) {
          console.error(error);
          showToastMessage("Login failed!", "error");
        }
      };

      const showToastMessage = (message, type) => {
        // Current param type is not used. But will be in the future
        toastMessage.value = message;
        showToast.value = true;
        setTimeout(() => {
          showToast.value = false;
        }, 3000);
      };

      function hexStringToBytes(hex) {
        const bytes = [];
        for (let i = 0; i < hex.length; i += 2) {
          bytes.push(parseInt(hex.substr(i, 2), 16));
        }
        return bytes;
      }

      function bytesToHexString(bytes) {
        return bytes.map((byte) => byte.toString(16).padStart(2, "0")).join("");
      }

      function xorBytes(bytesA, bytesB) {
        return bytesA.map((byte, index) => byte ^ bytesB[index]);
      }

      const app = createApp({
        setup() {
          return {
            loginUser,
            isLoggedIn,
            loginUsername,
            loginPassword,
            toastMessage,
            showToast,
          };
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
